.LoaderRoot {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f8;
  z-index: 9999;

  &.HeaderImitation {
    top: 73px;
    left: 208px;
  }

  & .Loader {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & div {
      position: absolute;
      border: 4px solid #109CF1;
      opacity: 1;
      border-radius: 50%;
      animation: Loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    & div:nth-child(2) {
      animation-delay: -0.5s;
    }
  }
}

@keyframes Loader {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
