{
    "singleQuote": true,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "parser": "typescript",
    "bracketSameLine": false,
    "useTabs": true,
    "tabWidth": 4,
    "semi": true,
    "jsxBracketSameLine": true,
    "trailingComma": "es5"
}